*{
    padding: 0;
    margin: 0;
}
body{
    background: lavender;
    border: 0px;
    font-family: 'Roboto', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
}
.banner{
    background-image: url("../image/645db0c8b12e855a70126210802b98be-medieval-realisticsilhouette-vinilo-cr-0.png"), url("../image/fondo-abstracto-de-la-tecnología-de-comunicación-digital-del-color-590773305.jpg");
    background-size: auto, cover;
    background-position: right, bottom center;
    background-repeat: no-repeat;
    border: 0px;
    color: white;
    margin: 0%;
    padding: 0%;
    width: 100%;
    height: 200px;
    text-align: right;
}

h1{
    text-align: center;
    background-color: plum;
}

h2{
    background-color: thistle;
    padding: 5px;
}

.info{
    margin: 12px;
    padding: 15px;

}

.pie{
    background-color: plum;
    color: black;
    font-size: 20px;
    padding: 10px;
    text-align: center;
}