.iconobatman{
    background-color: #E6E6E6;
    text-align:center;
    padding: 0%;
    margin: 0%;


}
h1{
    background-color: #C4C4C4;
    color: #005677;
    text-align: center;
    border: 0%;
    padding: 0%;
    margin: 0%;
}

h2{
    background-color: #C4C4C4;
    color: #005677;
    border: 0%;
    padding: 0%;
    margin: 0%;
}

footer{
    background-color: #005677;
    color: white;
    text-align: center;
}